apssamp.pdf
apssamp.aux
apssamp.bbl
apssamp.blg
apssamp.log
apssamp.out
apssamp.dvi
apssamp.toc
apssamp.synctex.gz
apssampNotes.bib
apssamp.fls

aipsamp.pdf
aipsamp.aux
aipsamp.bbl
aipsamp.blg
aipsamp.log
aipsamp.out
aipsamp.dvi
aipsamp.toc
aipsamp.synctex.gz
aipsampNotes.bib
aipsamp.fls

*-converted-to.pdf
.ipynb_checkpoints
*.fdb_latexmk
*.sav.tmp
.vscode
*.code-workspace
submission